section#aboutme
   .wrapper 
      .left
         .text 
            h2.h2 Добьемся&nbsp;
               span большего вместе!

         .info 
            h3 Кириди Елена Сергеевна
            h5 успешный предприниматель, основатель проекта «iQ Мир».
         
         .marks
            .redmark 
               img(src="./img/aboutme/red_mark.svg", alt="mark" width=22 height=22)
               h4 Участник научных форумов
            .redmark 
               img(src="./img/aboutme/red_mark.svg", alt="mark" width=22 height=22)
               h4 Лауреат XIII международной заочной конференции в г. Москва
            .redmark 
               img(src="./img/aboutme/red_mark.svg", alt="mark" width=22 height=22)
               h4 Автор научных статей
            .redmark 
               img(src="./img/aboutme/red_mark.svg", alt="mark" width=22 height=22)
               h4 Окончила Московский Авиационный Институт с отличием
            .redmark 
               img(src="./img/aboutme/red_mark.svg", alt="mark" width=22 height=22)
               h4 Знает, как совместить семью и работу, пройти путь от стартапа до прибыльного бизнеса.
            .redmark 
               img(src="./img/aboutme/red_mark.svg", alt="mark" width=22 height=22)
               h4 Готова поделиться личным опытом запуска франшизы и выйти на достойный заработок.

         .c__btn
            .button.blue.openModalBtn
               a(href="#") Получить личную консультацию 
            span Записаться на личную консультацию к основателю проекта


      .right
         img(src="./img/aboutme/hi.jpg", alt="its me!")

         .board
            .info 
               h3 Кириди Елена Сергеевна
               h5 г. Краснознаменск основатель проекта «iQ Мир»
            img(src="./img/aboutme/circle_logo.svg", alt="logo" width=46 height=46 )