section#achievements
   .wrapper 
      .text 
         h2.h2 Наши&nbsp;
            span достижения     
      .achievements 
         .achieve
            span 2
            h4 собственных образовательных центра.
         hr
         .achieve
            span 1 000+
            h4 детей стали частью нашей дружной семьи.
         hr
         .achieve
            span 90%
            h4 родителей покупают абонемент после консультации тьютора.
         hr
         .achieve
            span Рекомендации
            h4 наш центр рекомендуют знакомым и друзьям.
      
      .text 
         h2.h2 
            span Отзывы   
            |о наших занятиях
      .feedbacks 
         .feedback 
            .header 
               h3 родители ученика 4А
               img(src="./img/feedbacks/stars.svg", alt="stars" width=120)
            h4 Ребёнок получает качественное образование! Я благодарна за то, что мой ребёнок получает качественное образование и имеет возможность участвовать в различных мероприятиях и конкурсах.

         .feedback 
            .header 
               h3 родители ученика 2Б
               img(src="./img/feedbacks/stars.svg", alt="stars" width=120)
            h4 Семейные классы одни из лучших в городе! Я считаю, что наша школа является одним из лучших образовательных учреждений в городе. Здесь работают опытные преподаватели, которые создают уютную и доброжелательную атмосферу для обучения.

         .feedback 
            .header 
               h3 родители ученика 4А
               img(src="./img/feedbacks/stars.svg", alt="stars" width=120)
            h4 Возможности для развития талантов. Хочу выразить благодарность всем учителям нашей за их профессионализм и любовь к детям. Благодаря им, мои дети получают качественное образование и имеют все возможности для развития своих талантов, участвовать в различных мероприятиях и конкурсах.