section#benefits 
   .wrapper 
      .text 
         h2.h2 Мы подумали обо всем!
         h3.h3 Комплексная поддержка партнера при запуске франшизы

      .benefits
         .left 
            .benefit 
               i 01
               span Право пользования зарегистрированным товарным знаком “iQ Мир”.
            .benefit 
               i 02
               span Доступ к базе знаний на обучающей платформе головного офиса.
            .benefit 
               i 03
               span Помощь в поиске помещения.
            .benefit 
               i 04
               span Анализ помещения по требованиям головного офиса и Роспотребнадзора.
            .benefit 
               i 05
               span Индивидуальная финансовая модель под локацию и помещение партнера.
            .benefit 
               i 06
               span Тестирование начального спроса в локации будущего центра.
            .benefit 
               i 07
               span Планировочное решение с расстановкой мебели и сантехники.
            //- .benefit 
            //-    i 08
            //-    span Консультации менеджера по сопровождению на всех этапах запуска.

         .right
            .benefit 
               i 08
               span Список мебели и оборудования с указанием поставщиков.
            .benefit 
               i 09
               span Организация финальных собеседований с кандидатами на педагогические должности: управляющий, администратор.
            .benefit 
               i 10
               span Очное обучение персонала в головном офисе: 3 педагога и администратор/тьютор.
            .benefit 
               i 11
               span Персональный лендинг, настройка и ведение таргетированной рекламы.
            .benefit 
               i 12
               span Контент для рассылки пресс-релизов в местные СМИ.
            .benefit 
               i 13
               span Выезд специалистов на открытие центра.
            .benefit 
               i 14
               span Помощь в получении лицензии на образовательную деятельность.
            .benefit 
               i 15
               span Консультации по получению статуса соц. предпринимателя и грантов от государства на открытие.