section#conditions 
   .wrapper 
      .text 
         h2.h2 
            span Форматы&nbsp;
            |франшизы
      
      .conditions 
         .condition 
            h3 Семейные классы «iQ Мир» 
            h4 Формат позволяет открыть «под ключ» учреждение дополнительного образования в вашем городе
            .points 
               .point 
                  h5 Стартовые инвестиции
                  span от 2 500 000₽
               .point 
                  h5 Паушальный взнос
                  span от 500 000₽
               .point 
                  h5 Роялти
                  span 3% от оборота
               .point 
                  h5 Окупаемость
                  span от 20 месяцев
            .button.openModalBtn
               a(href="#") Стать партнером 

         .condition
            h3 Семейные классы «iQ Мир» на базе школы или детского центра
            h4 Формат для существующих учебных заведений, желающих присоединиться к сильному бренду, улучшить текущие финансовые показатели и развивать бизнес
            .points 
               .point 
                  h5 Стартовые инвестиции
                  span от 375 000₽
               .point 
                  h5 Паушальный взнос
                  span от 300 000₽
               .point 
                  h5 Роялти
                  span 3% от оборота
               .point 
                  h5 Окупаемость
                  span от 12 месяцев
            .button.openModalBtn
               a(href="#") Стать партнером 
         
         .condition.form 
            form(action="./php/mail.php" method="POST")
               h3 Мы рады ответить на все интересующие вас вопросы
               h4 Позвоните и получите личную консультацию по запуску франшизы «iQ Мир»

               .inputs
                  input(type="text" placeholder="Ваше имя" name="name")
                  input(type="tel" placeholder="Телефон" name="phone")
                  input(type="email" placeholder="Электронная почта" name="email")
                  input(type="text" placeholder="Город" name="city")

               button(type='submit').button Запишитесь на личную консультацию


      //- .wrapper__table
         .text 
            h2.h3
               span Инвестиции в открытие центра
         table.table
            thead 
               tr 
                  th Стартовые инвестиции  
                  th.dot Учебный центр «с нуля»  
                  th.dot Действующий образовательный центр  
            tbody
               tr
                  td Проектно-сметная документация
                  td 150 000₽
                  td —
               tr
                  td Ремонт помещения
                  td 150 000₽
                  td —
               tr
                  td Комплектация классов
                  td 835 000₽
                  td —
               tr
                  td Ресепшн/зона ожидания
                  td 400 000₽
                  td —
               tr 
                  td Физкультурно-музыкальный класс
                  td 130 000₽
                  td —
               tr
                  td Фасад (вывеска)
                  td 75 000₽
                  td 75 000₽
               tr
                  td Декор
                  td 70 000₽
                  td 70 000₽
               tr
                  td Хозяйственная техника и оборудование
                  td 50 000₽
                  td —
               tr
                  td Видеонаблюдение
                  td 90 000₽
                  td —
               tr
                  td Сигнализация (охранная и пожарная)
                  td 100 000₽
                  td —
               tr
                  td Залоговый платеж по аренде
                  td 200 000₽
                  td —
               tr
                  td Оформление ИП/ООО
                  td от 5 000₽
                  td —
               tr
                  td hh.ru (подбор персонала)
                  td 30 000₽
                  td 30 000₽
               tr
                  td Рекламная кампания
                  td 120 000₽
                  td 120 000₽
               tr
                  td Прочее
                  td 80 000₽
                  td 80 000₽
               tr
                  td Паушальный взнос
                  td 500 000₽
                  td 300 000₽


   div(class='modal' id="myModal")
      .modal-content
         span.close#closeModalBtn
            svg.closesvg(width='26', height='26', viewBox='0 0 26 26', xmlns='http://www.w3.org/2000/svg')
               path(d='M19.5 6.5L6.5 19.5', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')
               path(d='M6.5 6.5L19.5 19.5', stroke-width='1.5', stroke-linecap='round', stroke-linejoin='round')

         .form 
            form(action="./php/mail.php" method="POST")
               h3 Мы рады ответить на все интересующие вас вопросы
               h4 Позвоните и получите личную консультацию по запуску франшизы «iQ Мир»

               .inputs
                  input(type="text" placeholder="Ваше имя" name="name")
                  input(type="tel" placeholder="Телефон" name="phone")
                  input(type="email" placeholder="Электронная почта" name="email")
                  input(type="text" placeholder="Город" name="city")

               button(type='submit').button Запишитесь на личную консультацию

