footer
   .wrapper 
      .footer 
         .left
            .logo
               img(src="./img/logo.svg", alt="logo" width=206 height=70)
               h5 «iQ Мир» семейные классы великих открытий
            .navs 
               h3 Навигация по сайту
               .links
                  .left
                     .link
                        a(href="#mainscreen") О нас 
                     .link
                        a(href="#reasons") О франшизе 
                     .link
                        a(href="#why") Преимущества
                     .link
                        a(href="#introduction") Предложение
                  .right
                     .link
                        a(href="#conditions") Форматы
                     .link
                        a(href="#benefits") Поддержка
                     .link
                        a(href="#makemoney") Заработок
                     .link
                        a(href="#aboutme") Контакты
         .right
            .call
               h5 Звоните, проконсультируем!
               a(href="tel:+79269898376") +7 (926) 989-83-76
               .online 
                  img(src="./img/footer/e.svg", alt="ellipse")
                  h5 Сейчас работаем
               .ids 
                  span ИНН: 500604430553
                  span ОГРН: 315503200017797

            .social 
               .button.blue.openModalBtn
                  a(href="#")  Получить консультацию
               .s__links
                  a(href="#")
                     img(src="./img/footer/wa.svg", alt="whatsapp") 
                  a(href="#")
                     img(src="./img/footer/tg.svg", alt="telegram")
                  a(href="#")
                     img(src="./img/footer/vk.svg", alt="vk.com")

      .copyright
         span © ООО «IQ-мир» 2023 Все права защищены
         a(href="#") Политикой конфиденциальности


