section#gallery 
   .container
      .text 
         h2.h2 Будем&nbsp;
            span знакомы! 
         small.small Флагманский центр «iQ Мир» в Московской области успешно работает и радует своих воспитанников и их родителей с 2021 года
      .default 
         img(src="./img/gallery/1.jpg", alt="1.jpg")
      .default 
         img(src="./img/gallery/2.jpg", alt="2.jpg")
      .default1 
         img(src="./img/gallery/3.jpg", alt="3.jpg")
      .big1
         img(src="./img/gallery/4.jpg", alt="4.jpg")
      .default 
         img(src="./img/gallery/5.jpg", alt="5.jpg")
      .default 
         img(src="./img/gallery/6.jpg", alt="6.jpg")
      .big2
         img(src="./img/gallery/7.jpg", alt="7.jpg")
      .default 
         img(src="./img/gallery/8.jpg", alt="8.jpg")
      .join
         .icons 
            img(src="./img/gallery/faces/1.png", alt="1.png" width=60)
            img(src="./img/gallery/faces/2.png", alt="2.png" width=60)
            img(src="./img/gallery/faces/3.png", alt="3.png" width=60)
            img(src="./img/gallery/faces/4.png", alt="4.png" width=60)
            img(src="./img/gallery/faces/5.png", alt="5.png" width=60)
         h3 Присоединяйтесь к нам и станьте частью нашей успешной команды!
         h4 Отправим PDF файл с бизнес-планом и стратегией компании
         .button.openModalBtn
            a(href="#") Получить бизнес-план

         