header
   nav.logo 
      a(href="#") 
         img(src="./img/logo.svg", alt="logo" width=135 height=45)
         img(src="./img/aboutme/circle_logo.svg", alt="logo").mobile_logo
      //- hr
      //- span с 2021 года на рынке образовательных услуг
   nav.navigation
      nav
         a(href="#mainscreen") Каталог
      nav
         a(href="#reasons") Производители
      nav 
         a(href="#why") Для кого мы работаем
      nav
         a(href="#conditions") Сертификаты
      nav
         a(href="#aboutme") О нас
      nav
         a(href="#aboutme") FAQ
      nav
         a(href="#aboutme") Контакты
      nav.get.openModalBtn 
         a(href="#") Скачать презентацию
   nav.interaction 
      .phone 
         a#phone(href="tel:+79269898376") +7(926)
            span 989-83-76
         //- span Звоните, проконсультируем!
         img(src="./img/phone.svg", alt="phone")
      //- .button.blue.openModalBtn 
      //-    a(href="#") Скачать презентацию
   .burger
      span
      span
      span
      span
      