section#introduction
   .wrapper
      .text 
         h2.h2 Представляем образовательные&nbsp;
            span направления «iQ Мир»
         small.small Проект объединил самые востребованные образовательные программы и лучшие практики.
      
      .icards 
         .icard 
            img(src="./img/introduction/1.webp", alt="Интересная школьная программа").cimg
            h4 Интересная школьная программа
         .icard 
            img(src="./img/introduction/2.webp", alt="Углубленное изучение английского языка и математики").cimg
            h4 Углубленное изучение английского языка и математики
         .icard 
            img(src="./img/introduction/3.webp", alt="Дополнительные практические дисциплины: финансовая грамотность, ТРиЗ").cimg
            h4 Дополнительные практические дисциплины: финансовая грамотность, ТРиЗ
         .icard 
            img(src="./img/introduction/4.webp", alt="Дополнительные кружки на выбор: шахматы, китайский язык, робототехника, английский разговорный клуб и многие другие").cimg
            h4 Дополнительные кружки на выбор: шахматы, китайский язык, робототехника, английский разговорный клуб и многие другие