section#license
   .wrapper 
      .text 
         h2.h2 
            span Образовательная лицензия&nbsp;
            |«iQ Мир»
      .license 
         img(src="./img/license/img.jpg", alt="license")
   