section#makemoney
   .wrapper 
      .text 
         h2.h2 Сколько вы&nbsp; 
            span сможете зарабатывать?
         //- small.small *Показатели 13-го месяца работы

      .stats 
         .stat.blue
            img(src="./img/makemoney/1.svg", alt="icon")
            .info
               h3 329 000₽
               h5 Чистая прибыль
         
         .stat.red
            img(src="./img/makemoney/2.svg", alt="icon")
            .info
               h3 1 480 000₽
               h5 Средний оборот

         .stat
            img(src="./img/makemoney/3.svg", alt="icon")
            .info
               h3 12 000₽
               h4 Средний чек доп. услуги

         .stat
            img(src="./img/makemoney/4.svg", alt="icon")
            .info
               h3 40
               h4 Кол-во учеников в месяц

         .stat
            img(src="./img/makemoney/5.svg", alt="icon")
            .info
               h3 8
               h4 Кол-во учеников в классе

         .stat
            img(src="./img/makemoney/6.svg", alt="icon")
            .info
               h3 5
               h4 Количество классов

         .stat
            img(src="./img/makemoney/7.svg", alt="icon")
            .info
               h3 25 000₽
               h4 Средний чек абонемент

         .stat
            img(src="./img/makemoney/8.svg", alt="icon")
            .info
               h3 1 151 000₽
               h4 Ежемесячные затраты