section#reasons 
   .wrapper 
      .text 
         h2.h2 
            span 4 причины инвестировать&nbsp;
            br
            |в нишу детского образования
         small.small *По данным исследования компании «АльфаСтрахование»
   
      .reasons 
         .reason.first
            img(src="./img/reasons/1.svg", alt="value")
            h5 В 2022-2024 гг. объем рынка детского дополнительного образования будет расти в среднем на 1,4% ежегодно 1 489 млн. академических часов в 2024 г.
         .reason 
            .stats 
               span 32%
               h5 россиян ежемесячно тратят почти половину заработной платы на детские кружки, секции, репетиторов.
            img(src="./img/reasons/2.svg", alt="charts")
         .reason 
            .stats 
               span 37%
               h5 россиян нанимают репетиторов для углубленного изучения школьной программы, подготовки к олимпиадам и ОГЭ.
            img(src="./img/reasons/3.jpg", alt="slides")

         .reason.second
            img(src="./img/reasons/4now.png", alt="value")
            h5 Россияне готовы тратить до половины зарплаты на образование детей!
         
         .reason.three 
            .stats 
               span Более 70%
               h5 родителей отмечают, что не жалеют потраченных денег и считают это правильным вложением в будущее ребенка.
            .img
               img(src="./img/reasons/5.jpg", alt="background").back

         .reason.last
            .stats 
               span Более 57%
               h5 родителей нанимают репетиторов для подготовки к ЕГЭ.
            .img
               img(src="./img/reasons/6.png", alt="ege")