section#support
   .wrapper 
      .text 
         //- h2.h2 Сопровождение после открытия
         h3.h3 Сопровождение после открытия
      
      .s__cards
         .s__cards__card 
            .points 
               .point 
                  img(src="./img/support/blue_mark.svg", alt="mark" width=34 height=34)
                  span Куратор по всем операционным вопросам работы франшизы.
               .point 
                  img(src="./img/support/blue_mark.svg", alt="mark" width=34 height=34)
                  span Эксклюзивное право использования бренда на закрепленной территории.
               .point 
                  img(src="./img/support/blue_mark.svg", alt="mark" width=34 height=34)
                  span Право использования методических программ и разработок “iQ Мир”.
               .point 
                  img(src="./img/support/blue_mark.svg", alt="mark" width=34 height=34)
                  span Методическая поддержка: участие в регулярных Zoom- конференциях, ответы на вопросы, ежегодные очные мероприятия для педагогов.
               .point 
                  img(src="./img/support/blue_mark.svg", alt="mark" width=34 height=34)
                  span Доступ к платформе начальной школы (администрирование работы школы, личные кабинеты родителей).
               .point 
                  img(src="./img/support/blue_mark.svg", alt="mark" width=34 height=34)
                  span Консультации менеджера по сопровождению начальной школы.

               .point 
                  img(src="./img/support/blue_mark.svg", alt="mark" width=34 height=34)
                  span Контент-план для соц. сетей.
               .point 
                  img(src="./img/support/blue_mark.svg", alt="mark" width=34 height=34)
                  span Аудит работы и финансовых показателей франчайзи с предоставлением рекомендаций.

         .s__cards__card__img
            img(src="./img/support/1.jpg", alt="img")
         .s__cards__card__img
            img(src="./img/support/2.jpg", alt="img")

