section#why
   .wrapper 
      .text 
         h2.h2 Почему стоит выбрать&nbsp;
            span франшизу «iQ Мир»?
      .cards 
         .card
            .card__container
               .top
                  img(src='./img/why/1.svg', alt="icon" + text width=80 height=80)
                  span 01
               .bottom
                  h3 Доступный порог входа на рынок
                  h4 От 675 000 рублей потребуется для запуска франшизы.
         .card
            .card__container
               .top
                  img(src='./img/why/2.svg', alt="icon" + text width=80 height=80)
                  span 02
               .bottom
                  h3 Востребованная ниша
                  h4 Дополнительное образование переживает небывалый рост, в основном из-за кризиса основного школьного образования. Родители готовы вкладывать деньги в развитие детей.
         .card
            .card__container
               .top
                  img(src='./img/why/3.svg', alt="icon" + text width=80 height=80)
                  span 03
               .bottom
                  h3 Стабильный доход
                  h4 Учебный центр стабильно работает и приносит доход независимо от внешних обстоятельств и кризисов. Формат актуален даже для городов с населением от 40 тыс. чел.
         .card
            .card__container
               .top
                  img(src='./img/why/4.svg', alt="icon" + text width=80 height=80)
                  span 04
               .bottom
                  h3 Авторские методики
                  h4 В основе обучения лежит инновационная программа, которая дает фундаментальные знания как раньше, но с современным подходом.
         .card
            .card__container
               .top
                  img(src='./img/why/5.svg', alt="icon" + text width=80 height=80)
                  span 05
               .bottom
                  h3 Экспертиза и опыт
                  h4 Организуем личные консультации, передачу знаний и опыта в сфере предпринимательства и образования от создателя проекта.
         .card
            .card__container
               .top
                  img(src='./img/why/6.svg', alt="icon" + text width=80 height=80)
                  span 06
               .bottom
                  h3 Образовательная лицензия
                  h4 Мы работаем с образовательной лицензией 50Л01№0010027.