include ../components/index


main
   include _header
   include _mainscreen
   //- include _introduction
   //- //- include _gallery
   //- include _reasons
   //- include _why
   //- include _conditions
   //- include _benefits
   //- include _support
   //- include _makemoney
   //- include _aboutme
   //- include _achievements
   //- //- include _license
   //- include _footer
