@import "../variables";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 60px 0;
  // background-color: $firstground;
  background: #07086c;
  position: relative;

  .logo {
    z-index: 2;
    display: flex;
    gap: 14px;
    align-items: center;

    .mobile_logo {
      display: none;
    }

    img {
      object-fit: fill;
    }

    hr {
      height: 34px;
      border: 1px solid $bordergrey;
      // opacity: 0.2;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      max-width: 165px;
      color: $w;
    }
  }

  .navigation {
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 20px;

    nav {
      a {
        color: $w;
        font-weight: 400;
        font-size: 15px;
      }
    }

    .get {
      display: none;
    }
  }

  .interaction {
    display: flex;
    align-items: center;
    gap: 20px;

    .phone {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
      width: 100%;
      font-size: 18px;
      align-items: center;
      z-index: 2;

      a {
        display: flex;
        gap: 5px;
        color: $w;
        font-weight: 600;
        font-size: 18px;
        font-weight: 400;
      }

      span {
        font-size: 18px;
        color: $w;
        font-weight: 700;
        // max-width: unset;
        // width: 200px;
      }
    }

    .button {
      a {
        font-size: 15px;
        font-weight: 500;
        color: $w;
      }
    }
  }

  @media (max-width: $sxga) {
    .logo {
      gap: 10px;

      img {
        width: 120px;
        height: 45px;
      }

      span {
        font-size: 12px;
      }
    }

    .navigation {
      gap: 15px;
    }

    .interaction {
      gap: 15px;

      .phone {
        a {
          font-size: 16px;
        }

        span {
          // font-size: 12px;
          // width: 170px;
        }
      }
      .button {
        padding: 10px 15px;

        a {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: $lscreen) {
    padding: 12px 15px 0;

    .logo {
      gap: 10px;

      img {
        width: 100px;
      }

      span {
        font-size: 10px;
      }
    }

    .navigation {
      gap: 15px;

      nav {
        a {
          font-size: 13px;
        }
      }
    }

    .interaction {
      gap: 15px;

      .phone {
        a {
          font-size: 13px;
        }

        span {
          font-size: 13px;

          // width: 141px;
        }
      }
      .button {
        padding: 10px;

        a {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: $notebooks) {
    padding: 12px 15px 0;

    .logo {
      gap: 10px;

      // .mobile_logo {
      //   display: block;
      //   width: 46px;
      // }

      img {
        // display: none;
        width: 80px;
      }

      span,
      hr {
        display: none;
      }
    }

    .navigation {
      gap: 10px;

      nav {
        a {
          font-size: 12px;
        }
      }
    }

    .interaction {
      gap: 10px;

      .phone {
        gap: 4px;
        a {
          font-size: 13px;
        }

        span {
          font-size: 13px;
        }
        img {
          width: 20px;
          height: 20px;
        }
      }
      .button {
        padding: 8px;

        a {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: $tablet) {
    padding: 10px;
    align-items: center;
    position: relative;

    .logo {
      img {
        width: 100px;
      }
    }
    .navigation {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 5;
      gap: 20px;

      nav {
        position: relative;
        z-index: 3;
        display: block !important;
        a {
          font-size: 15px;
          z-index: 4;
        }
      }

      &.active {
        top: 0;
        background-color: #07086c;
      }

      .get {
        display: block;
      }
    }

    .interaction {
      display: none;
    }
  }
}
