@use "../variables.scss" as *;

#why {
  .wrapper {
    padding: 0 60px 100px;
    background-color: $background;

    .text {
      margin-bottom: 50px;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
  }

  @media (max-width: $lscreen) {
    .wrapper {
      padding: 0 30px 60px;
    }
  }

  @media (max-width: $tablet) {
    .wrapper {
      .text {
        margin-bottom: 25px;
      }
    }
  }

  @media (max-width: $mobile) {
    .wrapper {
      padding: 0 10px 30px;

      .cards {
        .card {
          padding: 12px;

          &__container {
            .top {
              margin-bottom: 15px;
              align-items: center;

              img {
                width: 60px;
              }
            }

            .bottom {
              h3 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
